// ==============================
// Containers
// ==============================

.azul {
  border: 2px solid black;
  padding: 24px;
}

.opponent-list {
  display: flex;
  justify-content: space-between;
  border: 2px solid black;
  padding: 8px;
}

.player-board {
  display: flex;
  flex-direction: column;
  align-items: center;

  &.own-board {
    border: 2px solid black;
    padding: 50px;

    .staging-rows {
      padding: 10px;
      margin: 10px;
      width: 100%;
    }
    
    .final-rows {
      padding: 10px;
      margin: 10px;
      width: 100%;
    }

    .broken-tiles {
      padding: 10px;
      margin: 10px;
      width: 100%;
    }
  }

  &.opponent-board {
    width: 240px;
    border: 1px solid black;

    .square {
      width: 10px;
      height: 10px;
    }
  }

  .staging-rows {
    border: 2px solid black;
    background: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
  
    .row {
      flex-direction: row-reverse;
    }
  }
  
  .final-rows {
    border: 2px solid black;
    background: green;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .broken-tiles {
    border: 2px solid black;
    background: red;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}


// ==============================
// Tile Positioning
// ==============================

.rows-container {
  display: flex;
  justify-content: stretch;
}

.row-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.row {
  display: flex;
  justify-content: flex-end;

  &.active {
    box-shadow: magenta 0px 0px 20px;
  }
}

.square {
  border: 2px solid black;
  height: 40px;
  width: 40px;
  margin: 4px;
}

// ==============================
// Factories
// ==============================

.factory-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  border: 2px solid black;
  margin-bottom: 50px;
}

.factory-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.factory{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  border: 2px solid black;
}

.factory {
  height: 150px;
  width: 150px;
  border-radius: 75px;
  margin: 10px;
}

.table-tiles {
  border: 1px solid black;
  padding: 8px;
  display: flex;
  flex-flow: row wrap;
  justify-content: left;
}

// ==============================
// TileSquare Styles
// ==============================

.square {
  background: lightgray;
  opacity: 0.5;

  &.selected {
    box-shadow: magenta 0px 0px 20px;
  }

  &.tile-first_player_token {
    background: white;
    opacity: 1;
  }

  &.tile-snowflake {
    background: aqua;
    opacity: 1;
  }

  &.bg-snowflake {
    background: aqua;
  }

  &.tile-red {
    background: red;
    opacity: 1;
  }

  &.bg-red {
    background: red;
  }

  &.tile-blue {
    background: darkblue;
    opacity: 1;
  }

  &.bg-blue {
    background: darkblue;
  }

  &.tile-black {
    background: black;
    opacity: 1;
  }

  &.bg-black {
    background: black;
  }

  &.tile-yellow {
    background: gold;
    opacity: 1;
  }

  &.bg-yellow {
    background: yellow;
  }
}
