// ==============================
// Containers
// ==============================

.game-board {
  border: 2px solid black;
  padding: 50px;
}

.player-board {
  border: 2px solid black;
  padding: 50px;
  display: flex;
  flex-direction: column;
}

.staging-rows {
  border: 2px solid black;
  padding: 10px;
  margin: 10px;
  background: yellow;
  height: 400px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.final-rows {
  border: 2px solid black;
  padding: 10px;
  margin: 10px;
  background: green;
  height: 400px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.broken-tiles {
  border: 2px solid black;
  padding: 10px;
  margin: 10px;
  background: red;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

// ==============================
// Tile Positioning
// ==============================

.rows-container {
  display: flex;
  justify-content: stretch;
}

.row-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.row {
  display: flex;
  justify-content: flex-end;
}


.square {
  border: 2px solid black;
  background: lightgray;
  height: 40px;
  width: 40px;
  margin: 5px;
}
