// ==============================
// Containers
// ==============================

.game-board {
  border: 2px solid black;
  padding: 50px;
}

.player-board {
  border: 2px solid black;
  padding: 50px;
  display: flex;
  flex-direction: column;
}

.staging-rows {
  border: 2px solid black;
  padding: 10px;
  margin: 10px;
  background: yellow;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .row {
    flex-direction: row-reverse;
  }
}

.final-rows {
  border: 2px solid black;
  padding: 10px;
  margin: 10px;
  background: green;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.broken-tiles {
  border: 2px solid black;
  padding: 10px;
  margin: 10px;
  background: red;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

// ==============================
// Tile Positioning
// ==============================

.rows-container {
  display: flex;
  justify-content: stretch;
}

.row-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.row {
  display: flex;
  justify-content: flex-end;

  &.active {
    box-shadow: magenta 0px 0px 20px;
  }
}

.square {
  border: 2px solid black;
  height: 40px;
  width: 40px;
  margin: 4px;
}

// ==============================
// Factories
// ==============================

.factory-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  border: 2px solid black;
  margin-bottom: 50px;
}

.factory,
.table-tiles {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  border: 2px solid black;
}

.factory {
  height: 150px;
  width: 150px;
  border-radius: 75px;
  margin: 10px;
}

.table-tiles {
  height: 300px;
  width: 300px;
  margin: 10px;
}

// ==============================
// TileSquare Styles
// ==============================

.square {
  background: lightgray;

  &.selected {
    box-shadow: magenta 0px 0px 20px;
  }

  &.tile-snowflake {
    background: aqua;
  }

  &.tile-red {
    background: red;
  }

  &.tile-blue {
    background: darkblue;
  }

  &.tile-black {
    background: black;
  }

  &.tile-yellow {
    background: gold;
  }
}
