#tile-container {
  max-height: 0;
}

.tile {
  position: absolute;
  z-index: 100;
  pointer-events: none;

  .top-face {
    pointer-events: auto;
  }
  &.tile-small {
    width: 10px;
    height: 10px;
  }

  &.tile-snowflake .top-face {
    fill: 'url(#snowflake-tile)'
  }
  &.tile-small.tile-snowflake .top-face {
    fill: 'url(#snowflake-tile-small)'
  }
  &.tile-starting-tile .top-face {
    fill: 'url(#snowflake-tile)'
  }
  &.tile-small.tile-starting-tile .top-face {
    fill: 'url(#snowflake-tile-small)'
  }

  // &.tile-starting-player {
  //   .top-face {
  //     fill: 'url(#starting-player)';
  //   }
  // }

  // &.tile-snowflake {
  //   .top-face {
  //     fill: aqua;
  //   }
  // }

  // &.tile-red {
  //   .top-face {
  //     fill: red;
  //   }
  // }

  // &.tile-blue {
  //   .top-face {
  //     fill: darkblue;
  //   }
  // }

  // &.tile-black {
  //   .top-face {
  //     fill: black;
  //   }
  // }

  // &.tile-yellow {
  //   .top-face {
  //     fill: gold;
  //   }
  // }
}

// ==============================
// Containers
// ==============================

section.azul {
  padding: 24px;
  display: flex;
  justify-content: center;
  margin: 0 auto;

  .left-container, .right-container {
    margin: 0 20px;
    display: flex;
    flex-direction: column; 
  }

  .left-container {
    align-items: center;
  }
}

.opponent-list {
  display: flex;
  flex-direction: column;
}

.player-board {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  border-radius: 8px;
  padding: 16px;

  &.opponent-board {
    .square {
      width: 20px;
      height: 20px;
      margin: 4px;
    }
  }

  .player-info {
    align-self: flex-start;
  }

  .staging-rows {
    background: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
  
    .row {
      flex-direction: row-reverse;
    }
  }
  
  .final-rows {
    background: green;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .broken-tiles {
    background: red;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%
  }
}


// ==============================
// Tile Positioning
// ==============================

.staging-and-final-rows-container {
  display: flex;
}

.row-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.row {
  display: flex;
  justify-content: flex-end;

  &.highlight {
    box-shadow: magenta 0px 0px 20px;
  }
}


// ==============================
// Factories
// ==============================

.factory-container {
  display: flex;
  flex-direction: column;

  .factory-row {
    display: flex;
    height: 200px;
    justify-content: center;
  }

  .table-tiles {
    margin-top: 20px;

    .table-tile-row {
      div:nth-of-type(1) { order: 5; }
      div:nth-of-type(2) { order: 4; }
      div:nth-of-type(3) { order: 6; }
      div:nth-of-type(4) { order: 3; }
      div:nth-of-type(5) { order: 7; }
      div:nth-of-type(6) { order: 2; }
      div:nth-of-type(7) { order: 8; }
      div:nth-of-type(8) { order: 1; }
      div:nth-of-type(9) { order: 9; }
    }
  }
}

.factory {
  height: 200px;
  width: 200px;
  border-radius: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 2px solid black;
  margin: 10px;

  .factory-tile-row {
    display: flex;
    justify-content: center;
  }
}

.table-tiles {
  display: flex;
  flex-direction: column;
  
  .table-tile-row {
    justify-content: center;
    align-content: center;
    display: flex;
    flex-direction: row;
  }
}

// ==============================
// TileSquare Styles
// ==============================

.square {
  background: lightgray;
  opacity: 0.2;
  border: 1px solid gray;
  height: 40px;
  width: 40px;
  margin: 12px;
  
  &.pending-tile-transfer {
    box-shadow: magenta 0px 0px 20px;
  }

  &.hidden {
    visibility: hidden;
  }

  &.selected {
    box-shadow: magenta 0px 0px 20px;
  }

  &.bg-snowflake {
    background: aqua;
  }

  &.bg-red {
    background: red;
  }

  &.bg-blue {
    background: darkblue;
  }

  &.bg-black {
    background: black;
  }

  &.bg-yellow {
    background: yellow;
  }
}
