$mdc-theme-primary: #ffc27d;
$mdc-theme-secondary: #a2d7ff;
$mdc-theme-on-primary: #444;
$mdc-theme-on-secondary: #444;
$mdc-typography-styles-button: (
  letter-spacing: 0,
  font-family: 'Hind Madurai',
  font-weight: lighter,
  font-size: 14px,
  text-transform: none,
);

html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Hind Madurai', sans-serif;
  font-weight: lighter;
  cursor: pointer;
}

body {
  display: flex;

  #app {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #dde9fb;
  }
}

@import '@material/typography/mdc-typography';
@import '@material/button/mdc-button';

@import 'nav';
@import 'login';

@import 'lobby';
@import 'azul';
